.leaflet-routing-container-hide {
    display: none !important;
}

.leaflet-top.leaflet-left .leaflet-draw.leaflet-control {
    display: none !important;
}

.patrol-map path.leaflet-interactive.patrol-line {
    stroke-dasharray: 30;
    stroke-dashoffset: 60;
    animation: dash 3s linear 1s infinite;
    stroke-width: 10;
    stroke-linecap: round;
    stroke-linejoin: round;
    filter: drop-shadow(1px 1px 0 #fff) drop-shadow(-1px -1px 0 #FFF) drop-shadow(1px -1px 0 #FFF) drop-shadow(-1px 1px 0 #fff);
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}